.App-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  pointer-events: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  color: white;
}

.app-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#button {
  background-color: #5b3029;
}

.app-navigation {
  border: 1px solid black;
  border-top: none;
}
.nav-link:hover {
  cursor: pointer;
  background-color: #5b3029;
}

#brand {
  color: #fee5c7;
}
