.App-logo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  pointer-events: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  color: white;
}

.app-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#button {
  background-color: #5b3029;
}
#button:hover {
  background-color: #fee5c7;
  color:black
}

.app-navigation {
  background-color: #5b3029;
  border: 1px solid black;
  border-top: none;
}
.nav-link{
  background-color: #5b3029;
}
.nav-link:hover {
  cursor: pointer;
  background-color: #fee5c7;
  color:black
}

.card {
  background-color: #5b3029;
  color:#fee5c7;
}